<input type="checkBox" id="check">
<label for="check">
    <img src="assets//icon//bars-solid.svg" width="20px" height="30px" id="btn">
    <img src="assets//icon//xmark-solid.svg" width="20px" height="30px" id="cancel">
</label>
<div class="sidebar">
    <header>Body Building</header>
    <ul>
        <li>
            <a href="#">
                <img src="assets//icon//qrcode-solid.svg" width="20px" height="30px" />
                Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets//icon//sliders-solid.svg" width="20px" height="30px" />
                Services
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets//icon//calendar-solid.svg" width="20px" height="30px" />
                Programs
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets//icon//bars-staggered-solid.svg" width="20px" height="30px" />
                Coaches
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets//icon//link-solid.svg" width="20px" height="30px" />
                Overview
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets//icon//envelope-solid.svg" width="20px" height="30px" />
                Contacts
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets//icon//clipboard-question-solid.svg" width="20px" height="30px" />
                About Us
            </a>
        </li>

    </ul>
</div>
<section>

    

</section>
