<app-header></app-header>
<div class="card">
    <div class="card-single">
        <div>
            <h1>55</h1>
            <span>Customers</span>
        </div>
        <div>
            <img src="assets//icon//users-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>15</h1>
            <span>Programs</span>
        </div>
        <div>
            <img src="assets//icon//calendar-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>95</h1>
            <span>orders</span>
        </div>
        <div>
            <img src="assets//icon//bag-shopping-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>95$</h1>
            <span>Income</span>
        </div>
        <div>
            <img src="assets//icon//dollar-sign-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
   
</div>