<app-header></app-header>
<div class="card">
    <div class="card-single">
        <div>
            <h1>55</h1>
            <span>Customers</span>
        </div>
        <div>
            <img src="assets//icon//users-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>15</h1>
            <span>Programs</span>
        </div>
        <div>
            <img src="assets//icon//calendar-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>95</h1>
            <span>orders</span>
        </div>
        <div>
            <img src="assets//icon//bag-shopping-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>95$</h1>
            <span>Income</span>
        </div>
        <div>
            <img src="assets//icon//dollar-sign-solid.svg" width="30px" height="25px"> 
        </div>
    </div>
   
</div>
<div class="recent-grid">
    <div class="programs">
        <div class="card-sec">
            <div class="card-header">
                <h3>Recent Programs</h3>
                <button class="btn btn-danger">See All</button>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Program Title</td>
                            <td>Detailst</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Program  2</td>
                            <td>Program  2</td>
                            <td>Program  2</td>
                        </tr>
                        <tr>
                            <td>Program2</td>
                            <td>
                                <span class="status"></span>
                                in progress</td>
                            <td>Program  2</td>
                        </tr>
                        <tr>
                            <td>Program2</td>
                            <span class="status"></span>
                                Pending
                            <td>Program  2</td>
                        </tr>
                        <tr>
                            <td>Program  2</td>
                            <td>Program  2</td>
                            <td>Program  2</td>
                        </tr>
                        <tr>
                            <td>Program2</td>
                            <td>
                                <span class="status"></span>
                                in progress</td>
                            <td>Program  2</td>
                        </tr>
                        <tr>
                            <td>Program2</td>
                            <span class="status"></span>
                                Pending
                            <td>Program  2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card-main">
            <div class="card-header">
                <h3>New Customers</h3>
                <button class="btn btn-danger">See All </button>
            </div>
            <div class="card-body">
                <div class="customer">

                    <div class="main-content">
                        <img src="assets//customers//stylish-good-looking-ambitious-smiling-brunette-woman-with-curly-hairstyle-cross-hands-chest-confident-professional-pose-smiling-standing-casually-summer-outfit-talki.webp" width="50"  height="40"/>
                        <div>
                            <h4>Sohair Mahmoud</h4>
                            <small>CEO Expert</small>
                        </div>
                    </div>
                    <div>
                        <img src="assets//icon//user-solid.svg"  width="20"  height="20"/>
                        <img src="assets//icon//comment-solid.svg" width="20"  height="20"/>
                        <img src="assets//icon//phone-solid.svg" width="20"  height="20"/>
                    </div>

                </div>
                <div class="customer">

                    <div class="main-content">
                        <img src="assets//customers//beauty-fashion-concept-carefree-beautiful-girl-with-curly-hair-naked-shoulders-smiling_176420-20176.webp" width="50"  height="40"/>
                        <div>
                            <h4>Sohair Mahmoud</h4>
                            <small>CEO Expert</small>
                        </div>
                    </div>
                    <div>
                        <img src="assets//icon//user-solid.svg"  width="20"  height="20"/>
                        <img src="assets//icon//comment-solid.svg" width="20"  height="20"/>
                        <img src="assets//icon//phone-solid.svg" width="20"  height="20"/>
                    </div>

                </div>

                <div class="customer">

                    <div class="main-content">
                        <img src="assets//customers//cute-young-girl-with-dark-wavy-hairstyle-bright-makeup-silk-dress-black-jacket-holding-sunglasses-hands-looking-away-against-beige-building-wall_197531-24462.webp" width="50"  height="40"/>
                        <div>
                            <h4>Sohair Mahmoud</h4>
                            <small>CEO Expert</small>
                        </div>
                    </div>
                    <div>
                        <img src="assets//icon//user-solid.svg"  width="20"  height="20"/>
                        <img src="assets//icon//comment-solid.svg" width="20"  height="20"/>
                        <img src="assets//icon//phone-solid.svg" width="20"  height="20"/>
                    </div>

                </div>

                <div class="customer">

                    <div class="main-content">
                        <img src="assets//customers//cheerful-positive-young-european-woman-with-dark-hair-broad-shining-smile-points-with-thumb-aside_273609-18325.webp" width="50"  height="40"/>
                        <div>
                            <h4>Sohair Mahmoud</h4>
                            <small>CEO Expert</small>
                        </div>
                    </div>
                    <div>
                        <img src="assets//icon//user-solid.svg"  width="20"  height="20"/> 
                        <img src="assets//icon//comment-solid.svg" width="20"  height="20"/>
                        <img src="assets//icon//phone-solid.svg" width="20"  height="20"/>
                    </div>

                </div>

               




            </div>
            </div>

    </div>
</div>