/* You can add global styles to this file, and also import other style files */
body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background: black;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	margin-top: -10%;
	align-items: center;
}
.form-v9-content  {
	width: 975px;
	border-radius: 15px;
	margin: 185px 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	position: relative;
}
.form-v9-content .form-detail {
    padding: 30px 135px 30px 100px;
	position: relative;
}
.form-v9-content .form-detail h2 {
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 16px 0 13px;
	margin-bottom: 55px;
}
.form-v9-content .form-detail h2::after {
	background: #d95252;
	width: 140px;
	height: 3px;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
  
}
.form-v9-content .form-row-total {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
   
}
.form-v9-content .form-row {
    width: 45%;
}
.form-v9-content .form-detail .form-row-last {
	text-align: center;
}
.form-v9-content .form-detail .input-text {
	margin-bottom: 45px;
}
.form-v9-content .form-detail input {
	width: 100%;
    padding: 14.5px 0px 14.5px 30px;
    border: 2px solid #ccc;
    appearance: unset;
    outline: none;
    border-radius: 27.5px;
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2)
}
.form-v9-content .form-detail input:focus {
	border: 2px solid #999;
}
.form-v9-content .form-detail .register {
	background: #f25d5d;
	border-radius: 25px;
	width: 180px;
	box-shadow: 0px 8px 16px 0px #00000033;
	border: none;
	margin: 20px 0 73px 35px;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}
.form-v9-content .form-detail .register:hover {
	background: #c93939;
}
.form-v9-content .form-detail .form-row-last input {
	padding: 14px;
}
input::-webkit-input-placeholder { 
  color: #e5e5e5;
  font-size: 16px;
}


@media screen and (max-width: 1199px) {
	.form-v9-content {
	    margin: 185px 20px;
	}
}
@media screen and (max-width: 767px) {
	.form-v9-content .form-row-total {
		flex-direction: column;
	
	}
	.form-v9-content .form-row {
		width: 100%;
	}
}
@media screen and (max-width: 575px) {
	.form-v9-content .form-detail {
	    padding: 30px 45px 30px 10px;
	}
}
.last_div{
	float: right;
	font-size: 15px;
	color: white;
	margin-bottom: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: -40px;
}
.login{
	color: rgb(160, 77, 63);
	font-size: 20px !important;
	cursor: pointer;
	margin-left: 10px !important;
}
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
	0% {
	  top: 36px;
	  left: 36px;
	  width: 0;
	  height: 0;
	  opacity: 0;
	}
	4.9% {
	  top: 36px;
	  left: 36px;
	  width: 0;
	  height: 0;
	  opacity: 0;
	}
	5% {
	  top: 36px;
	  left: 36px;
	  width: 0;
	  height: 0;
	  opacity: 1;
	}
	100% {
	  top: 0px;
	  left: 0px;
	  width: 72px;
	  height: 72px;
	  opacity: 0;
	}
  }
  

