<app-header></app-header>

<section>

    

</section>

<div class="text-container">
    <p> Welcome TO Our World Fitness</p>
    <button type="button" >Contact</button>


    <div class="slider-img">
        <div class="row">
            <img src="assets\background\240_F_94419619_iKTOvNF0c5t8TbCq3B581wn51zZLVGZ3.jpg" width="300px" height="250px">
        </div>
        
        <div class="row">
            <img src="assets\background\240_F_400999674_u1YkflsS8IMQ55E3zeiiKqUfluK0n7uY.jpg" width="300px" height="250px">
        </div>
        <div class="row">
            <img src="assets\background\woman-with-arms-up.jpg" width="300px" height="250px">
        </div>

    </div>

 </div>
 
